@model BattleShipNet.Models.GameModel
@using GameEngine
@using BattleShipNet.Helpers

@helper makeBoard(int playerId)
{
    bool yours = (playerId == Model.YourPlayerId);
    string id = (yours) ? "your" : "enemy";
    Player player = Model.gameBoard.Players[playerId];

    <div id="@(id)board" class="playerboard">
        <h2 class="playerName">@player.Name</h2>

        <div class="topHeader">
            @for (var i = 1; i <= 10; i++)
            {
                <div class="square">@i</div>
            }
        </div>
        <div class="leftHeader">
            @for (var i = 0; i < Model.Letters.Count; i++)
            {
                <div class="square">@Model.Letters.ElementAt(i)</div>
            }
        </div>
        <div class="squares">
            @for (var x = 1; x <= 10; x++)
            {
                for (var y = 1; y <= 10; y++)
                {
                    string classes = Model.PositionsClasses(player, new Position(x, y), yours);

                    if (!yours)
                    {
                        <a href="/Home/Shoot?x=@(x)&amp;y=@(y)">
                            <div id="s@(x)_@(y)" class="square @classes"></div>
                        </a>
                    }
                    else
                    {
                        <div id="s@(x)_@(y)" class="square @classes"></div>
                    }
                }
            }
        </div>
    </div>
}

@{
    ViewBag.Title = "Game";
}
@section Styles {
    <link href="~/Content/battleship.css" rel="stylesheet" type="text/css" />
}
@section JavaScript {
    <!--script type="text/javascript" src="battleship.js"></script-->
}

<div id="instructionsArea">
	<p id="instructions">Just a example text, until we know what to write here! Try to sink every battleship!</p>
</div>

@MessageHandler.Alert("danger", (List<string>)ViewBag.Errors)

<div id="playerboards">
    @makeBoard(Model.YourPlayerId)
    @makeBoard(Model.EnemyPlayerId)
</div>