@model GameEngine.GameBoards
@using BattleShipNet.Helpers;
@{
    ViewBag.Title = "Start Game";
}

@if (ViewBag.ToDo == "join" || ViewBag.ToDo == "Join specific game" || ViewBag.ToDo == "Join open game")
{
    <h2>Join game</h2>

    @MessageHandler.Alerts((Dictionary<string, List<string>>)ViewBag.Messages)

    <form action="@Url.Action("JoinGame", "Home")" method="post">
        Name:<br>
        <input type="text" name="name" /><br />
        @if (ViewBag.ToDo == "join" || ViewBag.ToDo == "Join specific game")
        {
            <label>
                Gamekey:<br />
                <input type="text" name="gameKey" value="@ViewBag.GameKey" />
            </label>
        }
        else if (ViewBag.ToDo == "Join open game")
        {
            <label>
                Select game to join:<br />
                @Html.DropDownList("GameKey", new SelectList(Model.OpenGames, "GameKey", "Players[0].Name", null))<br />
            </label>
        }
        <br /><br />
        <input type="submit" value="Join game" />
    </form>
}
else
{
    <h2>Start new game</h2>

    @MessageHandler.Alerts((Dictionary<string, List<string>>)ViewBag.Messages)

    <form action="@Url.Action("StartNewGame", "Home")" method="post">
        <label>
            Name:<br>
            <input type="text" name="name" />
        </label><br />
        <label>
            <input type="checkbox" name="privateGame" value="true" /> Private game
        </label>
        <br /><br />
        <input type="submit" value="Start new game" />
    </form>
}